/*
Name: Iesha Alexander
Date: October 23, 2022
Course: CST8285 Web Programming
This is mystyle.csss file for Web programming HTML Assignment 1.
This file contains objects and their styling for index.html,
resume.html, and courses.html. 

*/

/*All Pages*/
header {
   
    border-bottom: 2px solid wheat ;
    padding-top: 5px;

}

body {
    padding-inline: 10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(36, 29, 20);
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00OTQtYmctMDA1LXguanBn.jpg);

    background-size: cover;
    background-position: center;
}

main { 
    padding-inline: 10px;
    background-color: wheat;
  
  
    }
    
header{
    
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 5px;
} 


footer {
    color: white;
    text-align: center;
}

a {
        
    text-decoration: none;
}

/* Navigation Styling */
    h1 {

        margin-left: -10%;
        color:rgb(36, 29, 20);
    
    }

    nav a {
    
        padding: 5px 20px;
        margin-left: 5px;
        border: 1px outset wheat;
        color:rgb(48, 45, 41);

    }

    

    .menu a:hover {
        color: white;
        background: wheat;
    
    }




/*Index Styling */

    #img1 {
        
        min-width: 40%;
        max-width: 110%;
        vertical-align: middle;     
        border: 5px outset wheat;
    }

    #index {
        display: flex;
        border: 1px solid white;
        padding: 20px;
        background-color:snow;
    }

    #index div{
        align-items: center; 
        flex-direction: row;
        justify-content: center;

    }

    #right {
        margin-left: 10%;
    }

    .school {
        color:seagreen;
    }

 

/*Resume styling*/

    /*The Resume Sections & Titles*/
    div.resume {
    
        border-bottom:1px solid white;
        padding: 5%;
    }

    .resume h2 {
        color: snow;
        text-align: center;
        border: 1px solid white;
        background-color: rgb(178, 148, 115);
        padding: 10px;
    }

    /*The Resume Sub-Section Titles, Lists, Dates*/
    .title {

        font-weight: bold;
    }

    .resume li {
        list-style-type:circle;
    }

   .nobullet li {
        list-style-type: none;
        
    }
    
    .date {
        display: inline-block;
        font-style: italic;
        justify-content: right;
        color:  rgb(178, 148, 115);
    }

   /*The Resume Objective Section*/   
    #resume_1{
        
        text-align: center;
        
        border: 1px solid snow;
        border-bottom:1px outset white;
        background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00OTQtYmctMDA1LXguanBn.jpg);
        background-size:cover;

        margin: -10px;
        margin-top: 20px;
    }
    
    #resume_1 h2{
        color: rgb(36, 29, 20);
        display: inline-block;
        background: none;
        
        
        
    }

    #resume_1 p{
        
        display: inline-block;
        border: 1px outset;
        background-color: snow;
        padding: 20px;
        
    
    }


    /*The Resume Lab Projects Section*/
    #thumbnails{

        border: 5px double snow;
        background-color: rgb(242, 237, 230);
    }
        /*Code found through W3C School making a Thumbnail*/
    .img2 {
        display: inline-block;
        margin-inline-start: 10%;
        border: 1px solid rgb(36, 29, 20);
        background-color: snow;
        border-radius: 4px;
        padding: 5px;
        width: 120px;
        height: 120px;
    
    }
    
    .lab_desc{
        display: inline-block;
        font-size: smaller;
        font-style:oblique;
        width: 150px;
        vertical-align: top;
    
    
        }

    .lab_desc:hover, .course_link:hover{
        text-decoration: underline;
        
    }
 
    /*The Resume Awards Section*/
    #awards_list div {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    #awards_list p{
        text-align: center;
    
    }

 



/*Courses styling*/

    /*The Course Main Section, Flex Display*/
    #courses{
        background-color: initial;
    }

    .course_list {  
        padding-top: 20px;
        display: flex;
        min-height: 200px;
        flex-wrap: wrap;
        gap: 20px;
    
    }

    .course_list div {
        flex:1;
        border: 1px solid rgb(178, 148, 115);
        background-color: wheat;
        flex-basis: 300px;
    }

    /*The Course Images*/
    .img3 {
        margin-inline-start: 30%;
        width: 120px;
        height: 120px;
    
        border: 1px solid rgb(36, 29, 20);
        background-color: snow;
        border-radius: 4px;
        padding: 5px;
        
    }

    /*The Course Titles, Links*/
    .course_list h4{
        display: block;
        text-align: center;
        padding-top: 10px;
    }

    .course_link{
        color:  rgb(178, 148, 115);
    }

 
